Config.inc.php
.vscode
.gitconfig
.git
node_modules
*.ffs_db
*.ffs_lock
*.log
*.cache
*.zip
*.lock
*.db
*tmp
*.BAK
*.db-shm
*.db-wal

**/upload/*
**/users/*.JPG
**/users/*.jpg
**/howto/*.jpg
**/howto/*.txt
**/poster/*
**/vendor/*
**/log/*
**/export/*
**/bureau/*
**/dist/*
**/aerotropolis/assets/file/*
**/include/*.txt
**/monitor/*
**/pdf/*
**/thunder-tests/*
**/include/config/AD.php
**/include/config/AD.VALID.php
**/include/config/AD.INVALID.php
**/include/config/AD.ALL.php
**/include/config/AD.LOCKED.php
