sync.ffs_db
sync.ffs_lock
Config.inc.php
.vscode
node_modules
*.log
*.cache
*.zip
*.lock
*tmp
**/users/*.JPG
**/users/*.jpg
*.BAK
**/howto/*.jpg
**/howto/*.txt
**/vendor/*
**/logs/*
**/exports/*
**/assets/db/*.db
