Config.inc.php
.vscode
.gitconfig
.git
node_modules
*.ffs_db
*.ffs_lock
*.log
*.cache
*.zip
*.lock
*.db
*tmp
*.BAK

**/upload/*
**/users/*.JPG
**/users/*.jpg
**/howto/*.jpg
**/howto/*.txt
**/poster/*
**/vendor/*
**/log/*
**/export/*
**/bureau/*
**/dist/*
**/aerotropolis/assets/file/*
