table th {
  text-align: center;
  cursor: pointer;
  text-decoration: underline;
  background-color: black;
  color: white;
  font-weight: bold;
}

.hamburger {
  font-size: 24px;
  font-weight: bold;
}

.filter-btn-group {
  float: right !important;
}

.tooltip > .tooltip-inner {
  border: 1px solid white;
  padding: 5px;
  font-size: 16px;
}

.header-fixed {
  position: fixed;
  left: 0;
  top: 78px;
}

.opacity {
  opacity: 0.65;
}

canvas {
  background: #FFF;
  display: block;
  margin: 0 auto;
}

#case_results a:link, #case_results a:visited {
  color: rgba(0, 0, 255, 0.842);
}

#case_results .bg-success a:link, #case_results .bg-danger a:link, #case_results .bg-success a:visited, #case_results .bg-danger a:visited {
  color: white;
}

#info_box {
  margin-top: 5px;
}