body {
	font-family: "微軟正黑體", "Microsoft JhenHei", sans-serif;
	overflow-y: auto !important;
	min-width: 1024px !important;
	padding-top: 80px;
}

body section:first-child {
	margin-bottom: 50px;
}

.focused-element {
	background-color: rgb(233, 218, 13);
}

fieldset {
	border:1px solid rgb(200, 200, 200);
	padding:10px;
	margin-top: 5px;
	margin-bottom: 10px;
	background-color: rgb(245, 245, 245);

	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;

	/*
	background:-webkit-liner-gradient(top,#EEEEEE,#FFFFFF);
	background:linear-gradient(top,#EFEFEF,#FFFFFF);

	box-shadow:3px 3px 10px #666;
	-moz-box-shadow:3px 3px 10px #666;
	-webkit-box-shadow:3px 3px 10px #666;
	*/
	position:relative;
}

legend {
	width: auto;
	padding:5px 10px;
	font-size: 1.25rem;
	background-color:#343a40;
	color:#FFF;
	font-weight: bold;

	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;

	box-shadow:2px 2px 4px #666;
	-moz-box-shadow:2px 2px 4px #666;
	-webkit-box-shadow:2px 2px 4px #666;
  /*
	position:absolute;
	left:10px;top:-11px;
  */
}

.hide {
  display: none;
}

#contact a:link, a:visited, a:hover {
	color: gray;
}

.container-custom-width {
	min-width: 1024px;
}

blockquote {
  display: block;
  font-size: 15px;
  line-height: 1.6;
  font-style: italic;
  color: #666;
  background-color: #FFF;
  padding: 15px;
	margin-top: 5px;
  border-left: 25px solid #00aae1;
	border-right: 2px solid #00aae1;
	border-top: 2px solid #00aae1;
	border-bottom: 2px solid #00aae1;
  box-shadow: 2px 2px 15px #ccc;
}

.highlight {
	background-color: #28a745;
	color: #FFF;
	font-weight: bold;
}

.reg_case_id:hover, .user_tag:hover {
	background-color:  rgb(233, 218, 13);
	text-decoration: underline;
	font-weight: bold;
	cursor: pointer;
}

.alert-fixed {
	position: fixed;
    top: 8.5%;
	margin: auto 25%;
    width: 50%;
    z-index: 9999;
    border-radius: 10px;
}

.once-anim-cfg {
	animation-duration: 0.4s;
	/* animation-delay: 2s; */
	animation-iteration-count: 1;
}

.inf-anim-cfg {
	animation-duration: 0.4s;
	/* animation-delay: 2s; */
	animation-iteration-count: infinite;
}

.s-95 {
	font-size: .95rem;
}

.s-90 {
	font-size: .90rem;
}

.s-85 {
	font-size: .85rem;
}

.s-80 {
	font-size: .80rem;
}

.s-75 {
	font-size: .75rem;
}

.s-70 {
	font-size: .70rem;
}

.s-65 {
	font-size: .65rem;
}

.s-60 {
	font-size: .60rem;
}

.b-table > tbody > tr > td, .b-table > thead > tr > th {
	vertical-align: middle;
}

.b-table a:link, .b-table a:visited {
	color: rgba(56, 56, 241, 0.842);
  }
  
.b-table .bg-success a:link, .b-table .bg-danger a:link, .b-table .bg-success a:visited, .b-table .bg-danger a:visited {
	color: white;
}

/* add v-fade to the element class to enable it */
.v-fade {
	display: inherit !important; /* override v-show display: none */
	transition: 0.4s;
}

.v-fade[style*="display: none;"] {
	opacity: 0;
	pointer-events: none; /* disable user interaction */
	user-select: none; /* disable user selection */
}

[v-cloak] {
	display: none;
}

.list-enter-active, .list-leave-active {
	transition: all 1s;
}

.list-enter, .list-leave-to {
	opacity: 0;
	transform: translateY(30px);
}